@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* fonte1- Sansita Swashed
fonte2- Open Sans*/

:root{
    --fonte1: font-family: 'Bebas Neue', cursive;

}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}


body{
    background-image: linear-gradient(to right, rgb(223, 17, 17), rgb(20, 113, 201)); 
}

header{
    background-color: #B30F0C;
    background-image: url('imagens/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 150px;
}

header > h1{
    text-align: center;
    padding-top: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    color: white;
    
}

.logoprincipal{
    position: absolute;
    left: 396px;
    bottom: 554px;
    height: 127px;
    width: 155px;
}


.usuario{
    position: absolute;
    right: 26px;
    top: 4px;
    height: 53px;
    width: 55px;
}

.user{
    text-align: right;
    margin-right: 30px; 
    font-family: 'Playfair Display', serif; 
}

.user > a{
    color: white;
    text-decoration-line: none;
    font-weight: bolder;
    font-size: 15px;
}

.menu > a{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:hover{
    background-color: #E61410;
    transition: 0.9ms;
    border-radius: 10px;
    cursor: pointer;  
}

.menu{
    margin-top: 21px;
    padding-left: 27px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

div li{
    display: inline-block;
    margin-left: 30px;
}

.redes{
    position: absolute;
    margin: auto;
    right: 216px;
    margin-top: 58px;
    margin-right: -14px;
}

#img-rede{
    height: 18px;
}

section{
    border: 2px solid rgb(3, 3, 49);
    box-shadow:2px 0px 10px  #04052e;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin-top: 25px;
    margin-left: 106px;
    display: inline-flex;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

section article > h1 > a{
    color: white;
}

section h1 >a:hover{
    background-image: linear-gradient(to right, rgb(219, 36, 36), rgb(10, 80, 146));
}

section article > h1{
    font-size: 20px;
    padding-bottom: 10px;
    
}

article{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    position: absolute;
    top: 495px;
    background-image: linear-gradient(to bottom, rgb(87, 7, 7), rgb(6, 44, 78));
    padding-left: 10px;
}

article ul li{
    padding-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

section.peter1.ul {
    background-image: linear-gradient(to bottom, rgb(109, 11, 11), rgb(10, 80, 146));
}

#peter1{
    
    background-image: url('imagens/peter.png');
    background-size: cover;
    background-position: -83px;
}


#peter2{
    
    background-image: url('imagens/andrew1.jpg');
    background-size: cover;
    background-position: -45px;
    
}

#peter3{
    
    background-image: url('imagens/tobey2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
}
    

